/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  font-size: 16px;
  overflow-x: hidden; 
}

body {
  background-color: #F5F5F5;
}

/* -----------------------------------------------Header Section----------------------------- */

header {
  background-color: #3400FF;
  display: flex;
  width: 100%;
  padding: 2em;
  justify-content: space-between;
}

/* ------------------------Navigation Bar------------------ */

nav {
  color: white;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
  align-items: center;
  text-align: center;
}

.nav-item {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-item-active {
  background-color: white;
  border-radius:10px;
  color: #8356ef;
  cursor: pointer;
  padding: 0.5em 1em;
}

nav>svg{
  width: 20px;
  height: 20px;
}


/* -------------Hero Section------------ */

.hero-section{
  background-color: #3400FF;
  display: flex;
  width: 100%;
  padding: 2em 0em 2em 2em;
  justify-content: space-between;
  height: 30ch;
  margin-bottom: 4em;
}

.hero-text img{
  width: 10%;
}

.hero-text h2{
font-size: 2rem;
  color: #ffffff;
}
.hero-text p{
font-size: 1rem;
  color: #ffffff;
}

.header-image {
  width: 35%;
  height: 40ch;
}


/* --------------Companies Section-----------------*/

.companies {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  width: 65%;
  padding: 1em 2em;
  margin: 4em 0;
}

.company-items {
  text-decoration: none;
  color: #000000;
  font-weight: bolder;
  font-family: 'Righteous';
  font-size: 1.3rem;
}


@media (max-width:900px){
  header{
    width: 100%;
    padding: 1em 2em;
  } 
   .nav-item{
    display: none;
  }
  .nav svg{
    display: block;
  }

  .hero-section{
    flex-direction: column;
    width: 100%;
    gap: 2em;
    height: unset;
  }
  .hero-text{
    width: 100%;
  }
  .hero-text h2{
    font-size: 1.5rem;
  }
  .header-image{
    order: -1;
    width: 50%;
    height: unset;
  }
  header svg{
    display: none;
  }

  .companies{
    width: 100%;
    justify-content: center;
  }
}

@media (max-width:600px){

.hero-section{
  align-items: center;
  text-align: center;
}
.hero-text h2{
  font-size: 1.3rem;
}

}



/* --------------------------API Section------------ */


.api {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em;
  gap: 2em;
  justify-content: space-between;
  margin: 4em 0;
}

.api-heading {
  font-size: 2rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap:2em;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card-active {
  box-shadow: 0 2px 20px #000000;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 1em;
  gap: 1em;
}

.card-head-active {
  color: #5A31FC;
}

.card-logo{
  width:20%
}


@media (max-width:800px){

  .api-heading {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }
}


/* --------------------------Blog Section------------ */


.blog-section{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em;
  gap: 2em;
  margin-top: 10em;
}


.blog-heading {
    font-size: 1rem;
}


.blog-cards {
  display: flex;
  gap: 2em;
  width:100%;
  justify-content: space-between;
}

.blog-card {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 2px 15px black;
  background-color: #F5F5F5;
  border-top-left-radius: 55px;
  padding: 0em 1em 0em 0em;
}

.blog-image{
  
  height: 100%;
  background-size: 100% 100%;
  background-position: cover;
  width: 100%;
}

.blog-image img{
  display: none;
}

.blog-image1{
  background: url("./images/Rectangle.png") no-repeat;
}

.blog-image2{
  background: url("./images/Rectangle\ Copy.png") no-repeat;
}
.blog-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding-left: 1em;
}

.blog-content h6{
font-size: 0.7rem;
}

.blog-bottom{
  display: flex;
  align-items: flex-start;
  gap: 1em;
  flex-direction: row-reverse;
}

@media (max-width:1350px){

  .blog-cards{
    flex-wrap: wrap;
    gap: 1em;
  }
  .blog-card{
    gap: 2em;
    padding: 0;
    border-top-left-radius: 105px;
    width: 100%;
    justify-content: space-between;
  }
  .blog-bottom{
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  .blog-image{
    all:unset;
  }
  .blog-image img{
    display: flex;
    width: 100%;
  }
 
}

@media (max-width:800px){
  .blog-card{
    flex-direction: column;
  }
  .blog-cards h1,h2,h3,p{
    font-size: large;
  }
}

/* -------------------------Faq Section---------------------------- */

.faq-section {
  display: flex;
  gap: 2em;
  width:100%;
  justify-content: space-between;
  background-color: #E9EDFF;
  margin: 4em 0;
  padding: 2em 0 2em 1em;
}

.faq-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.faq-content h2{
  font-size: 2.5rem;
}
.faq-content h4{
  font-size:1.5rem;
  font-weight: 550;
}

.faq-content button {
  background-color: #5A31FC;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 1em 2em;
  width: 30%;
  min-width: 150px;
}

.faq-image img {
  width: 100%;
}

@media (max-width:1000px){
  .faq-content h2{
    font-size: 2rem;
  }
  .faq-content h4{
    font-size:1rem;
    font-weight: 550;
  }

}
@media (max-width:850px){
  .faq-section{
    flex-direction: column-reverse;
  }

  .faq-image img {
    width: 60%;
  }

}


/* -------------------Download Section-------------------- */

.download-section {
  display: flex;
  gap: 2em;
  width:100%;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}


.download-section h1 span {
  font-size: 1.5rem;
}

.download-email {
 display: flex;
 width: 80%;
 justify-content: flex-end;
 position: relative;
}


.download-email  input {
  border-radius: 25px;
  text-align: center;
  border: 1px solid #000000;
  width: 60%;
  padding: 1em 0;
}

.download-email button {
  top: 3px;
    padding: 0.7em 2em;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    background-color: #5A31FC;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    position: absolute;
}

.download-email input::placeholder{
 text-align: center;
}

@media (max-width:1000px){
  .download-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .download-email{
    justify-content: center;
    position: unset;
    width: 100%;
    gap: 1em;
  }
  .download-email input{
    width: 100%;
    padding: 0.5em;
    border-radius: 15px;
  }
  .download-email button{
    position: unset;
    padding: 0.5em 1em;
    border-radius: 10px;
  }
}

@media (max-width:400px){
  .download-email{
    flex-direction: column;
  }
}

/* -------------------Footer Section------------------------- */

.footer-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2em;
    background-color: #3C0AFE;
    margin-top: 2em;
}
.footer-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items:flex-start;
  text-align: center;
  gap: 1.5em;
}

.footer-logo{
  width: 20%;
  cursor: pointer;
  min-width: 100px;
}


.list{
  display: flex;
  list-style: none;
  gap: 2em;
}

.list-items{
color: #ffffff;
cursor: pointer;
}

.footer-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  gap: 2em;
}

.footer-right-logo,.logos-list{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  gap: 2em;
}

.footer-right-logo{
  gap: 3em;
}

.logos-list .list-items{
  list-style: none;
  color: #ffffff;
  cursor: pointer;
} 

@media (max-width:800px){
  .footer-section{
    flex-direction: column;
    gap: 2em;
  }
  .footer-left,.footer-right{
    width: 100%;
  }

  .list{
    flex-wrap: wrap;
  }

  .footer-right{
    justify-content: flex-start;
  }

  .footer-right-logo,.logos-list{
    justify-content:flex-start;
    gap: 1em;
  }
}